h4 {
    font-size: 30px;
    text-shadow: 2px 2px #F8BBDO;
}

#welcome {
    text-align: center;
    background: linear-gradient(#E1BEE7 0%, #90CAF9 100%);
    padding: 50px;
}

img {
    border-radius: 50%;
    width: 120px;
    height: 80px;
}

#bio {

    padding: 50px;
    text-align: center;
    font-size: 20px;
}

#hi {
    font-size: 30px;
}

.menu {
    position: fixed;
    background: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
}

.links {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

#elements {
    background: linear-gradient(#00ff6e 0%, #3EDE12 100%);
    text-align: center;
}

#Whyvideogamesaregood {
    font-size: 30px;
}

#link {
    font-size: 20px;
}

#button {
    font-size: 20px;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

#tanqrimg {
    transition: transform .2s;
    border: 10px solid #AAAAAA;
    height: 300px;
    width: 300px;
}
#tgimg {
    transition: transform .2s;
    border: 10px solid #AAAAAA;
    height: 300px;
    width: 300px;
    margin-right: 50px
}

img:hover {
    transform: scale(0.9);
}

#inspiration {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

#clickonthese {
    font-size: 25px;
    font-family: 'Pacifico', cursive;
}

#myinspiration {
    background: linear-gradient(#1a66b8 0%, #1ab8b3 100%);
    text-align: center;
}
